div.container {
  display: flex;
  flex-direction: row;
  background: var(--background-light);
}

/* ------ ASIDE ----- */

aside {
  background: var(--white);
  max-width: 23rem;
  width: 100%;
  /* height: 100vh; */
  padding: 2rem 3.5rem;

  display: flex;
  flex-direction: column;
  position: relative;

  overflow: hidden;
}

aside h1 {
  font-size: 1.8rem;
}
aside h5 {
  margin-bottom: 0.4rem;
}

aside div.already-group {
  margin-top: 70px;
}

aside ul li {
  font: 400 1.1rem "Inter", sans-serif, Arial, Helvetica;
  border-radius: 0.2rem;
  margin: 0.2rem 0;
  padding: 0.2rem 0.3rem;
  line-height: 14px;

  cursor: pointer;
  background: var(--background-light);
  color: var(--title);
}
aside ul li:hover {
  background: #d3d3d3;
  box-shadow: var(--panel-shadow);
}
ul li a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

button.default {
  position: absolute;
  bottom: 2.5rem;

  width: calc(23rem - 110px);
  height: 3.6rem;
  border-radius: 0.3rem;
}
button.default:hover,
button.default:active,
button.default:focus {
  background: var(--primary-deep);
}
/* FIM ASIDE */

article.main-content {
  padding: 2rem;
  width: 100%;
  overflow: hidden;
}

div.agency-header {
  background: var(--white);
  margin-bottom: 0.7rem;
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 5rem;
}

div.agency-header h4 {
  font-weight: 500;
}

div.main {
  display: flex;
  max-width: 800px;
  width: 100%;
  justify-content: space-around;

  margin-top: 3rem;
}

div.plans-group {
  display: flex;
  flex-direction: column;
}

div.plans-group > div {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  margin: 0.2rem;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
}

div.main div.athentication {
  max-width: 400px;
}

/* FORM */
form#athentication-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-top: 20px;
  border-radius: 0.2rem;
  padding: 1rem;

  background: var(--white);
}

form#athentication-form div.data-group {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
}

form#athentication-form div.data-group label {
  font-weight: 500;
  font-size: 16px;
}

form#athentication-form div.data-group input {
  height: 30px;
  padding: 5px;
  font-size: 18px;
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: var(--title);
}
